* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
    text-align: center;
}

h3{
    font-size: 1.5rem;
}

.blog__header {
    margin: 0;
}

.content__main {
    background-color: #ececf7;
    padding: 1rem 2rem 0, 2rem;
}

.main_header {
    background-color: white;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

.navigation {
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation__link {
    text-decoration: none;
    color: black;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__link:hover {
    background-color: #f1f1f1;
}




.blog article:nth-of-type(1) figure,
.blog article:last-of-type figure {
    float: right;
    margin-right: 1rem;
}

.blog article:nth-of-type(2) figure {
    float: left;
    margin-left: 1rem;
}

.blog article::after {
    content: "";
    display: block;
    clear: both;
}

/* .blog img + figcaption {
    font-size: 0.8rem;
    text-align: center;
} */

.figure__caption{
    font-size: 0.8rem;
    text-align: center;
}

.warning {
    background-color: #f4c5b7;
    border: 3px solid #faf9f8;
    border-radius: 20px;
    overflow: hidden;
}

.warning__figure {
    float: left;
    margin-right: 2rem;
}

.warning__header {
    text-align: center;
}




.gallery__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__image:nth-of-type(1) {
    grid-column: 1;
    grid-row: span 2;
}

.gallery__image:nth-of-type(2) {
    grid-column: 3;
    grid-row: 1 ;
}

.gallery__image:nth-of-type(3) {
    grid-column: 2 / span 2;
    grid-row: 2 ;
}



.posts__wrapper {
    position: relative;
    height: 300px;
}

.post__container:last-child {
    bottom: 0;
    left: 250px;
}

.post__container:first-child {
    top: 0;
    left: 0;
    z-index: 1;
}

.post__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.post__container {
    position: absolute;
    height: 200px;
    width: 300px;
}

.post__subtitle {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    background-color: royalblue;
    color: white;
    text-align: center;
}

.post__info {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background-color: salmon;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
}


.post__container:last-child:hover {
    z-index: 1;
}
