body {
    background: linear-gradient(45deg, #11365f, #3a0751);
    font-family: Arial, sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form-card {
    background: radial-gradient(circle, #7f9ceb, #8dc752);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    min-width: fit-content;
    margin: 0.5rem;
}

.h1 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-group label {
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 0.5rem;
    font-size: inherit;
    border: 1px solid #000000;
    border-radius: 5px;
}

.form-group input:invalid,
.form-group textarea:invalid,
.form-group select:invalid {
    border-color: #ff4d4d;
    border-width: 2px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-group input {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5rem;
}

.submit-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1.2em;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.submit-button:hover {
    background: #0057b5;
}


@media (pointer: coarse) {
    .checkbox-group input {
        transform: scale(1.5);
        margin-right: 1rem;
    }
}

@media (min-width: 768px) {
    .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}
